/**{
    box-sizing: border-box;
}
:root{
    --primary-color:#FF0066;
}
body{
    margin: 0;
    font-size: 2vw;
}
a{
    text-decoration: none;
}
.header{
    text-align: center;
}
.sidebar{
    background-color:var(--primary-color);
    width: 1%;
    height: 150%;
    left: 0;
    top: 0;
    position: fixed;
}
.row{
    display: flex;
}
.main{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.article{
    max-height: 600px;
    margin: 20px;
    padding-top: 20px;
    transition: 0.3s all ease-in-out;
}
.article img{
    opacity: 0.7;
    transition: 0.3s all ease-in-out;
}
.article img:hover{
    opacity: 1;
}
.sp-img{
    width: 90%;
    height: 80%;
}
.sp-img img{
    width: 100%;
    height: 100%;
}
.sp-content{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding:10px 0 0 0;
}
.date{
    padding:5px 0 0 0;
    color: rgb(126, 125, 125);
    font-family: 'PT Serif', serif;
    font-size: 16px;
}
.nav{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.nav .logo{
    display: none;
}
.navContent{
    display: flex;
    flex-direction: column;
}
.navContent a{
    padding:20px 10px;
}
a{
    font-size: 24px;
    color: black;
}

.article:hover{
    color:var(--primary-color);
}
.articleNav{
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

@media only screen and (max-width: 600px) {
    
    .header{
        display: none;
    }
    .nav{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav .logo{
        display: block;
        padding: 20px;
    }
    .navContent{
        display: flex;
        flex-direction: row;
    }
    .navContent a{
        padding:10px 5px;
        font-size: 13px;
    }
    .main{
        width: 100%;
    }
    .sp-content{
        font-size: 30px;
    }
    .date{
        font-size: 15px;
    }

}*/

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-size: 2vw !important;
}
:root{
    --primary-color:#FF0066;
}
a{
    text-decoration: none;
}
.header{
    text-align: center;
}
#sidebar{
    background-color:var(--primary-color);
    width: 3%;
    height: 150%;
    left: 0;
    top: 0;
    position: fixed;
}
.nav{
    width: 15%;
    display: flex;
    flex-direction: column;
}
.nav .logo{
    display: none;
}
.navContent{
    display: flex;
    flex-direction: column;
    
}
.row{
    display: flex;
    margin-top: 50px;
}
.main{
    width: 85%;
    padding-left: 5%;
}
.logo img{
    width:8%;  
    height:5%;
    margin-top:1%;
  
}
/*.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
    transition: 0.3s;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    text-decoration: none;
    color:#000000;
    padding: 8px;
    margin-right: 8px;
}
  
  /* Change background color of buttons on hover 
.tab button:hover {
    
    border: 2px solid #FF0066;
    box-sizing: border-box;
    color: #FF0066;
    padding: 8px 12px 8px 12px;
}*/

.sideProjects{
    padding: 50px 70px;
}
.sp-content{
    color: black;
    margin:3% 0 40px 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.datesp{
    color: rgb(126, 125, 125);
    font-family: 'PT Serif', serif;
    font-size: 16px;
    margin-top: 5px;
}

.sp-img{
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: 80%;
    height: 25%;
}
.article:hover .sp-img{
    opacity: 0.7;
    width: 80%;
    height: 25%;
}

.sp-img-webdesign{
    opacity: 1;
    transition: 0.3s all ease-in-out;
    width: 80%;
    height: 28.5%;
}
.article:hover .sp-img-webdesign{
    opacity: 0.7;
    width: 80%;
    height: 28.5%;
}

.article:hover .sp-content{
    color: var(--primary-color);
}
.active{
    display: block;
}
.activeButton{
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}
.hidden{
    display: none;
}
.grid{
    display: flex;
    padding: 20px 0 20px 20px;
    margin: 20px 20px 20px 20px;
    
    transition: 0.4s all ease-in-out;
}
.grid:hover{
    
    background-color: rgba(230, 230, 230,0.3);
    
}
.para{
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: rgb(21, 21, 21);
}
img{
    width: 100%;
}
.heading{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    
}
.data{
    font-size: 25px;
    font-weight: 700;
}
.nav a{
    color: black;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    transition: 0.3s all ease-in-out;
    padding:10px;
    border-bottom:3px solid white;
    /* text-align: center; */
}
.nav a:hover>span{
    color:var(--primary-color);
    border-bottom:3px solid var(--primary-color);
}
.articles > span{
    color: var(--primary-color) !important;
    border-bottom:3px solid var(--primary-color);
}
@media only screen and (min-width: 1600px){
    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
        font-size: 2vw !important;
    }
    :root{
        --primary-color:#FF0066;
    }
    a{
        text-decoration: none;
    }
    .header{
        text-align: center;
    }
    #sidebar{
        background-color:var(--primary-color);
        width: 3%;
        height: 150%;
        left: 0;
        top: 0;
        position: fixed;
    }
    .nav{
        width: 15%;
        display: flex;
        flex-direction: column;
    }
    .nav .logo{
        display: none;
    }
    .navContent{
        display: flex;
        flex-direction: column;
        
    }
    .row{
        display: flex;
        margin-top: 50px;
    }
    .main{
        width: 85%;
        padding-left: 5%;
    }
    .logo img{
        width:8%;  
        height:5%;
        margin-top:1%;
      
    }
    /*.tab button {
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: white;
        transition: 0.3s;
        font-family: 'Nunito', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 27px;
        text-decoration: none;
        color:#000000;
        padding: 8px;
        margin-right: 8px;
    }
      
      /* Change background color of buttons on hover 
    .tab button:hover {
        
        border: 2px solid #FF0066;
        box-sizing: border-box;
        color: #FF0066;
        padding: 8px 12px 8px 12px;
    }*/
    
    .sideProjects{
        padding: 50px 70px;
    }
    .sp-content{
        color: black;
        margin:3% 0 40px 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    }
    .datesp{
        color: rgb(126, 125, 125);
        font-family: 'PT Serif', serif;
        font-size: 16px;
        margin-top: 5px;
    }
    
    .sp-img{
        opacity: 1;
        transition: 0.3s all ease-in-out;
        width: 80%;
        height: 26%;
    }
    .article:hover .sp-img{
        opacity: 0.7;
        width: 80%;
        height: 26%;
    }
    
    .sp-img-webdesign{
        opacity: 1;
        transition: 0.3s all ease-in-out;
        width: 80%;
        height: 29.5%;
    }
    .article:hover .sp-img-webdesign{
        opacity: 0.7;
        width: 80%;
        height: 29.5%;
    }
    
    .article:hover .sp-content{
        color: var(--primary-color);
    }
    .active{
        display: block;
    }
    .activeButton{
        border: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
    .hidden{
        display: none;
    }
    .grid{
        display: flex;
        padding: 20px 0 20px 20px;
        margin: 20px 20px 20px 20px;
        
        transition: 0.4s all ease-in-out;
    }
    .grid:hover{
        
        background-color: rgba(230, 230, 230,0.3);
        
    }
    .para{
        font-size: 20px;
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 16px;
        color: rgb(21, 21, 21);
    }
    img{
        width: 100%;
    }
    .heading{
        font-size: 25px;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-style: normal;
        
    }
    .data{
        font-size: 25px;
        font-weight: 700;
    }
    .nav a{
        color: black;
        margin: 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        font-size: 20px; 
        transition: 0.3s all ease-in-out;
        padding:10px;
        border-bottom:3px solid white;
        /* text-align: center; */
    }
    .nav a:hover>span{
        color:var(--primary-color);
        border-bottom:3px solid var(--primary-color);
    }
    .articles > span{
        color: var(--primary-color) !important;
        border-bottom:3px solid var(--primary-color);
    }
} 
@media only screen and (max-width: 1024px) {
    .para{
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        font-style: normal;
        color: rgb(37, 37, 37);
    }
    .outlined{
        margin-top: 10px;
    }
    .sp-content{
        color: black;
        margin:2% 0 40px 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 24px;
    }
    .sp-img-webdesign{
        opacity: 1;
        transition: 0.3s all ease-in-out;
        width: 90%;
        height: 32%;
    }
    .logo img{
        width:8%;  
        height:5%;
        margin-top:1%;
      
    }
    
}

@media only screen and (max-width: 834px) {
    .para{
        font-size: 15px;
        font-family: 'Nunito', sans-serif;
        font-weight: 200;
        font-style: normal;
        color: rgb(37, 37, 37);
    }
    .outlined{
        margin-top: 10px;
    }
    .sp-content{
        color: black;
        margin:7% 0 30px 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
    .sp-img{
        opacity: 1;
        transition: 0.3s all ease-in-out;
        width: 90%;
        height: 22%;
    }
    .sp-img-webdesign{
        opacity: 1;
        transition: 0.3s all ease-in-out;
        width: 90%;
        height: 25%;
    }

    .datecs{
        font-size: 15px;
        margin-top: 10px;
    }
    .datesp{
        font-size: 15px;
    }
    .logo img{
        width:8%;  
        height:5%;
        margin-top:1%;
      
    }
}
@media only screen and (max-width: 600px) {
    .header{
        display: none;
    }
    .nav{
        position: absolute;
        top: 0;
        width: 100vw;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav .logo{
        display: block;
        margin: 10px 0 0 10px;
    }
    .nav a{
        margin: 0;
        font-size: 13px;
        padding: 10px 5px;
    }
    .navContent{
        flex-direction:row;
    }
    .tab{
        display: flex;
        margin-left: 10px;
        padding: 0;
    }
    .tablinks{
        font-size: 12px;
        padding:5px;
    }
    .sidebar{
        width: 5px;
    }
    .main{
        width: 100%;
    }
    .main{
        padding:20px;
    }
    .tabcontent{
        width: 100%;
    }
    .caseStudies{
        padding:10px 0 ;
    }
    .sideProjects{
        padding:20px;
    }
    .sp-img{
        opacity: 1;
    }
    .grid{
        flex-direction: column;
        margin: 0 15px 15px 15px;
    }
    .cs-img{
        width: 100%;
    }
    .cs-content{
        padding:0;
        width: 100%;
    }
    .heading{
        margin-top: 20px;
        font-size: 20px;
    }
    .sp-content{
        color: black;
        margin:4.5% 0 5px 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 20px;
    }
    .para{
        font-size: 15px;
    }
    .logo{
        width:100%;
    }
    .logo img{
        width:40%;  
        height:30%;
        margin-top:4%;
        margin-left: 10%;
      
    }
} 




